<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/help.png">
    <link rel="stylesheet" href='/css/style.css'>
</head>

<body>
    <div class='main'>
        {{>header}}
        <p>{{helptxt}}</p>
    </div>
    
    {{>footer}}
</body>
</html>